<div class="container">
  <div class="card topic-card">
    <div class="row">
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Welcome to the Discussion page.</h2>
          <% if !current_user.is_a? GuestUser %>
            <h3 class="card-text">Join in on an ongoing discussion or start your own here</h3>
            <%= link_to "New Topic", new_topic_url, class: 'btn btn-secondary btn-block' %>
          <% else %>
            <h3 class="card-text">Sign in or sign up to start a new conversation.</h3>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <%= image_tag 'yankee_logo.gif', width: '75%' %>
        </div>
      </div>
    </div>
  </div>
  <div>
    <% @topics.each do |t| %>
      
      <div class="row">
        <div class="col-md-6">
          <div class='card topic-card'>
            <h4><%= link_to t.title, t %></h4>
            <h5><%= t.subtitle %></h5>
            <div>
              <small>Posted by: <%= t.user.first_name %> <%= distance_of_time_in_words(t.created_at, Time.now) %> ago</small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
</div>