<div class="container">

  <h2><%= @topic.title %></h2><br />

  <hr>

  <h4><%= @topic.subtitle %></h4>

  <div class="well">
    <%= @topic.body %>
  </div>

  <%= render 'comments/comment_form' %>

  <div id="comments" data-topic-id="<%= @topic.id %>">
    <%= render @topic.comments %>
  </div>

  <div>
    <%= link_to 'Edit', edit_topic_path(@topic) %> |
    <%= link_to 'Back', topics_path %>
  </div>
</div>