<div class="container">
  <div class="row">
    <div class="col-md-8 top-marg">
      <div class="jumbotron">
        <h2 class="display-4"><%= @topic.title %></h2>
        <h4 class="lead"><%= @topic.subtitle %></h4>
        <hr class="my-4">
        <p><%= @topic.body %></p>
      </div>


      <hr />

      <% if !current_user.is_a? GuestUser %>
        <%= render 'comments/comment_form' %>
      <% end %>

      <div id="comments" data-topic-id="<%= @topic.id %>" >
        <%= render @topic.comments %>
      </div>

      <div class="topic-card">
        <%= link_to 'Edit', edit_topic_path(@topic), class: 'btn btn-light' %> |
        <%= link_to 'Back', topics_path, class: 'btn btn-light' %> | <%= link_to 'Delete', @topic, class: 'btn btn-light', method: :delete, data: {confirm: 'Are you sure?'} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center show-logo">
        <%= image_tag 'yankee_logo.gif', width: '75%' %>
      </div>
    </div>
  </div>
</div>

