<div class="container">
  <h1><%= @schedule.title %></h1>

  <div class="row featurette">
    <div class="col-md-7">
      <% @schedule.games.each do |g| %>
        <h3 class="featurette-heading"><%= g.opponent %></h3>
        <p class="lead"><%= g.game_date %></p>
        <p><%= g.location %></p>
        <p><%= g.result %></p>
        <hr class="featurette-divider">
      <% end %>
    </div>
    <div class="col-md-5">
      <%= image_tag('ballpark.jpg', {class: "featurette-image img-fluid mx-auto"}) %>
    </div>
  </div>

  <%= link_to 'Edit', edit_schedule_path(@schedule), class: 'btn' %> |
  <%= link_to 'Back', schedules_path, class: 'btn' %>
</div>
<hr class="featurette-divider">

