<div class="container">
  <h2><%= @schedule.title %></h2>

  <div class="row featurette">
    <div class="col-md-7">
      <% @schedule.games.each do |g| %>
        <h3 class="featurette-heading"><%= g.opponent %></h3>
        <p class="lead"><%= g.game_date %></p>
        <p><%= g.location %></p>
        <p><%= g.result %></p>
        <hr class="featurette-divider">
      <% end %>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <%= link_to 'Edit', edit_schedule_path(@schedule) %> |
  <%= link_to 'Back', schedules_path %>
</div>
<hr class="featurette-divider">

