<div class="container">
  <div class="top-marg">
    <div class="row">
      <div class="col-md-9">
        <div class='jumbotron'>
          <h1><%= @schedule.title %></h1>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-center">
          <%= image_tag 'yankee_logo.gif', width: '75%' %>
        </div>
      </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7">
      <% @schedule.games.each do |g| %>
        <div class="row">
          <div class="col-md-8">
            <h3><%= g.opponent %></h3>
          </div>
          <div class="col-md-4">
            <p class="lead"><%= g.game_date %></p>
            <p><%= g.location %></p>
            <p><%= g.result %></p>
          </div>
        </div><br />
        <hr class="my-4">

      <% end %>
    </div>
  </div>
  <div class="topic-card">
    <% if current_user.role == :admin %>
      <%= link_to 'Edit', edit_schedule_path(@schedule), class: 'btn btn-light' %> |
      <%= link_to 'Back', schedules_path, class: 'btn btn-light' %>
    <% else %>
      <%= link_to 'Back', root_path, class: 'btn btn-light' %>
    <% end %>
  </div>
</div>
<hr class="featurette-divider">

