
<div class="container">
  <h1>Roster</h1>

  <% @players.each do |player| %>
    <div class="row featurette">
      <div class="col-md-8">
        
          <h6 class="featurette-heading"><%= link_to player.name, player %> #<%= player.number %></h6>
          
          <div class="row">
            <% player.positions.each do |p| %>
              <h4 class="lead">| <%= p.name %> |</h4>
            <% end %>
          </div>
          
        
      </div>
      <div class="col-md-4">
        <%= image_tag player_img(player.thumb_image, 'thumb'), class: 'rounded-circle' %>
       <!--  <img class="rounded-circle" src="https://mediadownloads.mlb.com/mlbam/2018/05/27/images/mlbf_2089886383_th_45.jpg" alt="Generic placeholder image" width="140" height="140"> -->
      </div>
      
    </div>
    <hr class="featurette-divider">
  <% end %>

  <%= link_to 'New Player', new_player_path, class: "btn" %>
</div>

<hr class="featurette-divider">

