<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
      <%= image_tag player_img(@player.main_image, 'main') %>
    </div>
    <div class="col-md-4">
      <h2>
        <%= @player.name %>
      </h2>

      <h3>
        #<%= @player.number %>
      </h3>

      <h5>
        <% @player.positions.each do |pos| %>
          <p><%= pos.name %></p>
        <% end %>
      </h5>
    </div>
  </div><br />
  <hr />

  <%= link_to 'Edit', edit_player_path(@player), class: 'btn' %> |
  <%= link_to 'Back', players_path, class: 'btn' %>
</div>
