<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <p>
        <strong>Name:</strong>
        <%= @player.name %>
      </p>

      <p>
        <strong>Number:</strong>
        <%= @player.number %>
      </p>

      <p>
        <strong>Positions</strong>
        <% @player.positions.each do |pos| %>
          <p><%= pos.name %></p>
        <% end %>
      </p>
    </div>
  </div>
  <hr />

  <%= link_to 'Edit', edit_player_path(@player), class: 'btn' %> |
  <%= link_to 'Back', players_path, class: 'btn' %>
</div>
