<div class="container">
  <div class="row topic-card">
    <div class="col-md-1">
    </div> 
    <div class="col-md-6">
      <%= image_tag player_img(@player.main_image, 'main'), width: '100%' %>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <%= image_tag "yankee_logo.gif", width: '75%' %>
      </div>
      <div class="player-atts text-center">
        <h2>
          <%= @player.name %>
        </h2>

        <h3>
          #<%= @player.number %>
        </h3>

        
        <% @player.positions.each do |pos| %>
          <h4><%= pos.name %></h4>
        <% end %>
      </div>
      
    </div>
  </div><br />
  <hr />

  <%= link_to 'Edit', edit_player_path(@player), class: 'btn btn-light' %> |
  <%= link_to 'Back', players_path, class: 'btn btn-light' %>
</div>
